<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>

  <div class="app-container">

    <section id="left-menu">

      <div class="account-dropdown">

        <div class="logo">

          <i class="fab fa-typo3"></i>

        </div>

        <div class="name">

          Jane Doe

        </div>

        <div class="icon">

          <i class="fas fa-chevron-down"></i>

        </div>

      </div>

      <div class="groups">

        <div class="group">

          <div class="title">Title</div>

          <ul>

            <li>Link</li>

            <li>Link</li>

            <li>Link</li>

          </ul>

        </div>

      </div>

    </section>

    <section id="content-area"></section>

    <section id="messenger"></section>

  </div>

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>

</body>
</html>
